:root {
  --colorPrincipal: #2b2d42;
  --colorWhite: #f7f7f9;
  --colorBtns: #41e2ba;
  --colorBtnsActive: #41d8b2;
  --colorGreyDark: #c5c5c5;
  --colorGrey: #f0f0f0;
  --fontFamily: "Cairo", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 64%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--fontFamily);
  color: var(--colorPrincipal);
  background-color: var(--colorWhite);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colorPrincipal);
  transition: all 200ms ease;
}

a:hover {
  color: var(--colorBtns);
}

p {
  padding: 0;
  margin: 0;
  font-family: var(--fontPrincipals);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-primary {
  background-color: var(--colorBtns);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.btn-primary:hover {
  background-color: var(--colorBtnsActive);
  color: var(--colorWhite);
}

.btn-primary:active {
  opacity: 0.75;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorWhite);
  background-color: var(--colorPrincipal);
  padding: 1.2rem 0;
}

header h1 {
  font-size: 2rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: "aside productsWrapper";
  grid-template-columns: 0.5fr 2fr;
  padding: 1rem;
}

aside {
  grid-area: aside;
}

aside ul {
  display: flex;
  flex-direction: column;
}

aside ul li {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

aside ul li:first-child {
  font-weight: 800;
  margin-bottom: 1rem;
  text-decoration: underline;
}

aside ul li a span {
  color: var(--colorGreyDark);
}

.productsWrapper {
  grid-area: productsWrapper;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "product product product"
    "product product product";
}

.productsWrapper .productsWrapper__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorGrey);
}

.productsWrapper
  .productsWrapper__products
  .productsWrapper__products-imgWrapper1 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productsWrapper
  .productsWrapper__products
  .productsWrapper__products-imgWrapper2 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productsWrapper
  .productsWrapper__products
  .productsWrapper__products-imgWrapper3 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productsWrapper
  .productsWrapper__products
  .productsWrapper__products-imgWrapper4 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productsWrapper
  .productsWrapper__products
  .productsWrapper__products-imgWrapper5 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productsWrapper
  .productsWrapper__products
  .productsWrapper__products-imgWrapper6 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productsWrapper .productsWrapper__products h2 {
  padding: 1rem 0;
  font-size: 1.8rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--colorPrincipal);
  color: var(--colorWhite);
}
